extends layout

block content
  .page-header
    h3 List a New Deal:

    form.form-horizontal(action='/deal/new', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='userId', value='#{user.email}')
      input(type='hidden', name='lat', value='#{user.profile.lat}')
      input(type='hidden', name='lon', value='#{user.profile.lon}')
      input(type='hidden', name='businessName', value='#{user.profile.businessName}')

      ul(class="tabs")
        li(class="tab-link", data-tab="tab-1") 
          i.fa.fa-cutlery
          | Restaurant
        li(class="tab-link current", data-tab="tab-2")
          i.fa.fa-hotel
          | Hotel
        li(class="tab-link", data-tab="tab-3")
          i.fa.fa-calendar
          | Custom
      div#tab-1(class="tab-content")
        .form-group
          label.col-sm-2.control-label(for='name') Deal Description:
          .col-sm-10
            input.form-control(type='text', name='name1', id='name1', list="restaurantTypes",value="#{triggers.dealTypes.restaurant[0]}")
            datalist#restaurantTypes
              each dealType, i in triggers.dealTypes.restaurant
                option(value=dealType)
      div#tab-2(class="tab-content current")
        .form-group
          label.col-sm-2.control-label(for='name') Deal Description:
          .col-sm-10
            input.form-control(type='text', name='name2', id='name2', list="hotelTypes",value="#{triggers.dealTypes.hotel[0]}")
            datalist#hotelTypes
              each dealType, i in triggers.dealTypes.hotel
                option(value=dealType)
      div#tab-3(class="tab-content")
        .form-group
          label.col-sm-2.control-label(for='name') Name
          .col-sm-4
            input.form-control(type='text', name='name', id='name', value='')
        .form-group
          label.col-sm-2.control-label(for='description') Description
          .col-sm-4
            textarea.form-control(name='description', id='description')
        .form-group
          label.col-sm-2.control-label(for='dateExpires') Expires On
          .col-sm-4
            input.form-control(type='date', name='dateExpires', id='dateExpires', value='')

      legend Select the Triggers
      .form-group
        .col-sm-4 
          i.fa.fa-sun-o
          | When the Road Conditions are
          select.form-control(name='roadConditions' id='roadConditions')
            each roadCondition, i in triggers.roadConditions
              if roadCondition == "Snow"
                option(value=i,selected="selected") #{roadCondition}
              else
                option(value=i) #{roadCondition}
        .col-sm-4
          i.fa.fa-tachometer
          | When the Traffic speeds are
          select.form-control(name='traffic' id='traffic')
            each trafficSpeed, i in triggers.traffic
              if i==2
                option(value=i,selected="selected") #{trafficSpeed}
              else
                option(value=i) #{trafficSpeed}
        .col-sm-4
          i.fa.fa-truck
          | When traffic is within
          select.form-control(name='distance' id='distance')
            each measure, i in triggers.distance
              if i==2
                option(value=i,selected="selected") #{measure}
              else
                option(value=i) #{measure}

      legend Weekly Traffic Estimate
      div#dealestview(style="margin:8px;")
      .form-group
        label.col-sm-3.control-label(for='maxCoupon') Max # per Push:
        .col-sm-3
          input.form-control(type='number', name='maxCoupon', id='maxCoupon', value='100')
        .col-sm-3
          button.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Create Deal