extends layoutModal

block content
  .page-header
    h3 
      i.fa.fa-tags
      | List a New Deal:

    form.form-horizontal(action='/deal/new', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='userId', value='#{user.email}')
      input(type='hidden', name='lat', value='#{user.profile.lat}')
      input(type='hidden', name='lon', value='#{user.profile.lon}')
      input(type='hidden', name='businessName', value='#{user.profile.businessName}')

      .form-group
        label.col-sm-2.control-label(for='name') Deal Description:
        .col-sm-3
          input.form-control(type='text', name='name', id='name', list="restaurantTypes",value="#{triggers.dealTypes.restaurant[0]}")
          datalist#restaurantTypes
            each dealType, i in triggers.dealTypes.restaurant
              option(value=dealType)

      legend Select the Triggers
      .form-group
        label.col-sm-2.control-label(for='roadConditions') Road Conditions:
        .col-sm-3 
          select.form-control(name='roadConditions' id='roadConditions')
            each roadCondition, i in triggers.roadConditionsShort
              if roadCondition == "Snow"
                option(value=i,selected="selected") #{roadCondition}
              else
                option(value=i) #{roadCondition}
      .form-group
        label.col-sm-2.control-label(for='traffic') Speed of Traffic:
        .col-sm-3
          select.form-control(name='traffic' id='traffic')
            each trafficSpeed, i in triggers.traffic
              if i==2
                option(value=i,selected="selected") #{trafficSpeed}
              else
                option(value=i) #{trafficSpeed}
      .form-group
        label.col-sm-2.control-label(for='distance') Distance:
        .col-sm-3
          select.form-control(name='distance' id='distance')
            each measure, i in triggers.distance
              if i==2
                option(value=i,selected="selected") #{measure}
              else
                option(value=i) #{measure}

      .form-group
        label.col-sm-2.control-label(for='maxCoupon') Max # per Deal:
        .col-sm-1
          input.form-control(type='number', name='maxCoupon', id='maxCoupon', value='100')
        .col-sm-1
          button.btn.btn-primary(type='submit')
            i.fa.fa-pencil
            | Set Deal